# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
$py.class

# C extensions
*.so

# Distribution / packaging
.DS_Store
/build
/dist

# Virtual environment
venv/

# Pytest
.pytest_cache/

# Editor and IDE related
.vscode/
*.swp
*.swo
.idea/

# OS-specific - Windows
Thumbs.db
ehthumbs.db

# Log files
*.log